.editor {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	border: 1px solid red;
	padding: 1rem;

	background: var(--color-bg-main);
	backdrop-filter: blur(5px);
	border-radius: var(--border-radius);

	color: var(--color-fg-main);

	--border-radius: 5px;
	--color-bg-main: rgba(16, 16, 16, 0.8);
	--color-bg-secondary: rgba(48, 48, 48, 0.8);
	--color-fg-main: white;
	--color-fg-secondary: #ccc;
	--color-invalid: #f66;
	--color-valid: #6f6;
	--margin: 5px;
}

.controls {
	display: flex;
	justify-content: center;
}

.title {
	margin-bottom: 1rem;

	font-size: 2rem;
	text-align: center;
}

